# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Example binaries
example/example
example/test_client

# Test binary
*.test

# Output of go coverage
*.out

# Go workspace file
go.work

# IDE
.idea/
.vscode/
*.swp
*.swo
